@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@600&family=Rubik:wght@500&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --body-bg: radial-gradient(circle at -7.9% 44.93%, #ffffff 0, #ffffff 25%, #ffffff 50%, #e6f0ed 75%, #d1e3dc 100%);
    --body-color: black;
    --body-color-menu: #17198f;
}



.dark-mode:root{
    --body-bg: radial-gradient(circle at 102.23% 59.21%, #161414 0, #141313 50%, #121212 100%);
    --body-color: white;
    --body-color-menu: #828d91
}


body{
    background-image: var(--body-bg);
}


.cabeçalho-img {
    margin-right: 150px;
}


.cabeçalho-item-sn:hover{
        border-top: 0.4px solid rgb(248, 0, 0); /** Criando a borda do topo.**/
}


.cabeçalho-menu{
    display: flex;
    align-items: center;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: var(--body-color);
}

.cabeçalho {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabeçalho-menu{
    position: static;
    display: flex;
    gap: 50px;
}

.parte-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -30px; 
}


.conteudo-principal-titulo{
    color: var(--body-color);
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 700px;
}

.conteudo-principal-subt {
    color: var(--body-color);
    font-family: 'Open Sans', sans-serif;
    margin-top: -10px;
}


.conteudo-principal-botao:hover{
    background-color: #17198f;
    color: white;
}


.conteudo-principal-botao{
    cursor: pointer; /* quando passar o mouse ele reconhecer que é para clicar */
    margin-top: 19px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #2428d6;  /** Cor do fundo do botão. **/
    border: none; /** Sem borda, pois vem borda como configuração pre-definida, estamos tirando ela **/
    width: 160px;  /** Largura do botão. **/
    height: 45px; /** Altura do botão. **/
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); /** Efeito de sombra. **/
    border-radius: 12px; /** Efeito de curvatura no botão, formato arredondado **/
}


.parte-two-principal{
    padding-top: 200px;
}





